::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e3e3e3;
  box-shadow: inset 0 0 5px rgb(185, 185, 185); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  // background: #d6109e; 
  background: rgb(89, 101, 119);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal{
  background: rgb(89, 101, 119);
  border-radius: 10px;
  &:hover{
    background: #496180;
  }
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // background: #9b0d72;
  // background: rgb(89, 101, 119);
  background: #434d5c;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  // background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
